<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | NinjaBlog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>Blog Ninja</h1>
        </a>
        <p>A ninja site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
        exercitationem doloremque nam itaque sapiente quisquam reprehenderit
        facilis, veniam totam sunt.
      </p>
      <p>
        Aliquam tempora vero cupiditate voluptate, optio quidem consequatur
        fugiat? Fugit possimus tempora vero neque facere magni rerum reiciendis!
        Quod, quibusdam.
      </p>
      <p>
        Necessitatibus cupiditate quo velit commodi, similique eos accusamus
        maxime voluptatum nam aut. Recusandae voluptate architecto omnis
        assumenda ut labore fugit.
      </p>
      <p>
        Perspiciatis laudantium magni dolores ex qui possimus sunt voluptates.
        Minima veritatis voluptatibus quibusdam omnis accusamus, itaque minus
        deserunt veniam provident.
      </p>
    </div>
  </body>
</html>
